
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1465399150'); /* IE9*/
  src: url('iconfont.eot?t=1465399150#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1465399150') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1465399150') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1465399150#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: "\e602"; }
.icon-more:before { content: "\e601"; }
.icon-close:before { content: "\e603"; }
